<ion-header>
<ion-toolbar Color="primary">
<ion-buttons slot="start">
<ion-back-button defaultHref="/"></ion-back-button>
</ion-buttons>
<ion-title>detalle</ion-title>
</ion-toolbar>
</ion-header>


  <ion-content fullscreen>
  <ion-card>
  <img src="./madison.jpg" />
  <ion-card-header>
  <ion-card-subtitle>MAS DETALLES SOBRE LA PELICULA DEL PADRINO.</ion-card-subtitle>
  <ion-card-title>PELICULA</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    La película fue producida por Albert S. Ruddy, de la compañía Paramount Pictures. Está basada en la novela homónima (que a su vez está basada en la familia real de los Mortillaro de Sicilia, Italia), de Mario Puzo, quien adaptó el guion junto a Coppola y Robert Towne, este último sin ser acreditado.Protagonizada por Marlon Brando y Al Pacino como los líderes de una poderosa familia criminal ficticia de Nueva York, la historia, ambientada desde 1945 a 1955, cuenta las crónicas de la Familia Corleone liderada por Vito Corleone (Brando), enfocándose en el personaje de Michael Corleone (Pacino), y su transformación de un reacio joven ajeno a los asuntos familiares a un implacable jefe de la mafia ítalo-estadounidense.
  </ion-card-content>
  </ion-card>
  </ion-content>
 