<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    
    <ion-title><ion-icon name="book-outline"></ion-icon>      CURRICULUM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
<ion-list>
  <h1>2010-ACTUALIDAD:</h1>
  <ion-item>
<ion-label>Profesor del master universitario en desarrollo
      de software para dispositivos moviles.
    </ion-label>
  </ion-item>
  <h1>2015-ACTUALIDAD:</h1>
  <ion-item>
    <ion-label>Profesor del master universitario en desarrollo de aplicaciones y servicios web.</ion-label>
  </ion-item>
  <h1>2008-2010:</h1>
  <ion-item>
    <ion-label>universitario de la carrera de ingenieria en sistemas computacionales.</ion-label>
  </ion-item>
 
</ion-list>

</ion-content>
