<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title><ion-icon name="videocam"> </ion-icon> ¡VIDEOCLUB!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- List of Text Items -->
   <ion-list>
    <h1>EL PADRINO</h1>
 <ion-item>
  <ion-button color="primary" expand="full" routerLink="/detalle"><ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail></ion-button>
 <ion-label>Director: Francis Ford Copppola.<ion-label>Año: 1972.</ion-label></ion-label> 
</ion-item>
</ion-list>
 <!-- List of Text Items -->
 <ion-list>
  <h1>LA LISTA DE SCHINDLER</h1>
<ion-item>
  <ion-button color="primary" expand="full" routerLink="/detalle"><ion-thumbnail slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail></ion-button>
<ion-label>Director: Steven Spielberg.<ion-label>Año: 1993.</ion-label></ion-label>
</ion-item>
</ion-list>
 <!-- List of Text Items -->
 <ion-list>
  <h1>PULP FICTION</h1>
<ion-item>
  <ion-button color="primary" expand="full" routerLink="/detalle"><ion-thumbnail slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail></ion-button>
<ion-label>Director: Quentin Tarantino.<ion-label>Año: 1994.</ion-label></ion-label>
</ion-item>
</ion-list>
 <!-- List of Text Items -->
 <ion-list>
  <h1>CADENA PERPETUA</h1>
<ion-item>
  <ion-button color="primary"  expand="full" routerLink="/detalle"><ion-thumbnail slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail></ion-button>
<ion-label>Director: Frank Darabont.<ion-label>Año: 1994.</ion-label></ion-label>
</ion-item>
</ion-list>
</ion-content>
