<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    
    <ion-title><ion-icon name="Home"></ion-icon>
      INICIO
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<h1>Bienvenido a</h1>
<h1>¡VIDEOCLUB!</h1>
<h1>¡Videoclub es una aplicacion
  desarrollada con ionic.
  para acceder a la gestion del video club
  pulsa el siguiente botón:
</h1>


<ion-button expand="full" routerLink="/videoclub">ACCESO AL ¡VIDEO-CLUB!<ion-icon name="videocam"></ion-icon></ion-button>

<h1>INFORMACION SOBRE EL AUTOR</h1>
<h1>Aplicacion desarrollada por: Juan Antonio Canche Gomez</h1>
<ion-button expand="full" routerLink="/autor">CONSULTAR INFORMACION DEL AUTOR<ion-icon name="person"></ion-icon></ion-button>
</ion-content>

